/*Mi viewport es de 1280
Mi navegador es Microsoft edge*/

@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;700&display=swap');

/*Estilos generales*/
html{
    font-family: 'Be Vietnam Pro', sans-serif;
}
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.flex {
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-sizing: border-box;
}
.btn {
    background-color: #8B48BF;
    color: #ffffff;
    border-radius: 50px;
    width: 10vw;
    height: 8vh;
    border: none;
}
.enlace {
    text-decoration: none;
    color: #242E52;
}
ul {
    list-style-type: none;
}

/*Estilos del Header*/
header{ 
    margin-top: 3%;
}
nav {
    width: 40%;
 }
.fa-bars {
    font-size: 2rem;
    display: none;
 }
header nav ul li a:hover {
    color:#242E52;
    opacity: 0.5;
}
header button {
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
}

/*Estilos del Main*/

main .section {
    width: 90vw;
    height: 100vh;
    margin: 50px;
}
main h1 {
    color: #232C50;
    font-size: 3rem;
    padding: 0.5% 0;
    margin-bottom: 2%;
}
.fuente {
    font-size: 16px;
    color: #000000;
    width: 28vw;
    margin-bottom: 8%;
} 
.column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 80vh;
    width: 40vw;  
}
.Ilustracion {
    width: 43vw;
    height: 100vh;
 }
.flex .column h3 {
    font-size: 36px;
    color: #232851;
    margin-top: 0;
}
.flex .column h4 {
    color: #323851;
}
.span1 {
    background-color: #8B48BF;
    border-radius: 25px;
    color: #ffffff;
    font-size: 16px;
    margin-right: 2.2rem;
    padding: 0.7rem 1.5rem;
 }
.parrafo {
    text-align: justify;
    width: 35vw;
    padding-left: 20%;
    color: #B3B2B7;
}
.sectiontestimonios {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.sectiontestimonios h2 {
    color: #242E53;
    font-size: 39px;
}
.sectiontestimonios .contenedor {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 5rem;
    margin-top: 5rem;
    width: 90%;
    background-color: #FAFAFA;
}
.sectiontestimonios .contenedor .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 30%;
    margin: 0;
}
.descripcion {
    color:#B9B9C1;
    font-size: 16px;
    text-align: center;
    padding: 0;
    margin-bottom: 10%;
}
.foto {
    position: relative;
    bottom: 40px;
    margin-bottom: 0;
    padding: 0;
    width: 8vw;
    height: 16vh;
}
.card h4 {
    margin: 0;
    padding: 0;
    color: #3F4868;
}
#violet {
    background-color: #8B48BF;
    color: #ffffff;
    font-size: 30px;
    margin-top: 15%;
    justify-content: space-between;
    padding: 0 4%;
}
.flex .h3 {
    width: 40%;
    padding: 2% ;
} 
#hover:hover {
    cursor: pointer;
    background-color: #8B48BF;
    opacity: 0.5;
}
#btn {
    background-color: #ffffff;
    color: #8B48BF;
    border-radius: 50px;
    width: 10vw;
    height: 8vh;
    border: 0.5px black solid;
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
}

/*Estilos del footer*/

footer {
    background-color: #1E1E26;
    color: #ffffff;
    padding: 3% 5%;
    align-items: flex-start;
}
.footer ul li a  {
    color: #ffffff;
    font-size: 16px;
    line-height: 30px;
}
.flex .footer {
    width: 50%;
    align-items: flex-start;
}
footer input {
    border: none;
    border-radius: 45px;
    padding: 5% 0;
    margin-top: 0;
    margin-bottom: 30%;
}
.icons div {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin-top: 30%;
}
.btnform {
    background-color: #8B48BF;
    color: #ffffff;
    border-radius: 50px;
    width: 4rem;
    height: 2.5rem;
    border: none;
 }
footer .formulario {
    width: 50
    display: flex;
}
footer p {
    margin: 0;
    font-size: 12px;
    text-align: right;
    color: #8C8C94;
}
.copyright {
    margin: 0;
    font-size: 12px;
    text-align: right;
    color: #8C8C94;
    display: none;
}

/*media queries para version mobile*/

@media (max-width: 480px){

    html {
        font-size: 16px;
        flex-direction: column;
    }

    /*Header*/

    .fa-bars {
        display: block;
    }
    nav {
        display: none;
    }
    .media {
        display: none;
    }
    header {
        width: 100%;
        margin-top: 15%;
    }
    /* Main */

    .sectiontestimonios .contenedor .none {
        display: none;
    }
    main .section {
        height: 50%;
        margin: 10% 5%;
        padding: 0;
        flex-direction: column;
        justify-content: space-between;
    }
    main h1 {
        text-align: center;
    }
    .fuente {
        padding: 0;
        width: 80vw;
        text-align: center;
    }
    .Ilustracion{
        margin-top: 10%;
        width: 90vw;
    }
    .flex .column h3 {
        text-align: center;
    }
    body .column {
        width: 90vw;
        align-items: center;
        justify-content: center;
        padding: 0;
    }
    .column {
        height: 0%;
    }
    main .reverse {
        flex-direction: column-reverse;
    }
    .btn {
        width: 25%;
    }
    .parrafo {
        margin: 0;
        padding: 0;
        width: 80vw;
    }
    .sectiontestimonios .contenedor .card {
        width: 80%;
    }
    .foto {
        width: 20vw;
        height: 20vh;
    }
    main .column h4 {
        padding: 3% 0;
        border-top-left-radius: 25px;
        border-bottom-left-radius: 25px;
        background-color: rgba(139, 72, 191, 0.3);
    }
    #violet {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    #btn {
        width: 25%;
        margin-bottom: 10%;
    }
    #violet .h3 {
        width: 70%;
        text-align: center;
    }
    
    /* Footer */
    footer {
        flex-direction: column-reverse;
    }
    footer .icons div {
        width: 100vw;
        justify-content: space-around;
        font-size: 1.5rem;
        margin-top: 5%;
    }
    footer .icons img {
        margin-top: 10%;
    }
    .icons {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }
    footer .formulario {
        margin: 8% 0 8% 0;
    }
    footer input {
        margin: 0;
        width: 70vw;
        height: 0.2vh;
    }
    .flex .footer {
        width: 100vw;
    }
    footer p {
        display: none;    
    }
    footer article .copyright {
        display:block;
        margin: 20% 0 20% 0;
    }
}

